<!-- App Capsule -->

  <ul class="listview image-listview flush transparent mt-3 mb-2">
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-chatbubbles"></ion-icon>
        </div>
        <div class="in">Chat</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-image"></ion-icon>
        </div>
        <div class="in">Full Slider</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-lock"></ion-icon>
        </div>
        <div class="in">Login</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-person"></ion-icon>
        </div>
        <div class="in">Register</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-refresh"></ion-icon>
        </div>
        <div class="in">Forgot Password</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-call"></ion-icon>
        </div>
        <div class="in">SMS Verification</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-person"></ion-icon>
        </div>
        <div class="in">Profile</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-gift"></ion-icon>
        </div>
        <div class="in">Product Page</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-cart"></ion-icon>
        </div>
        <div class="in">Cart</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-document"></ion-icon>
        </div>
        <div class="in">Blank Page</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-help-buoy"></ion-icon>
        </div>
        <div class="in">FAQ</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-document"></ion-icon>
        </div>
        <div class="in">Blog Post</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-document"></ion-icon>
        </div>
        <div class="in">About</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-call"></ion-icon>
        </div>
        <div class="in">Contact</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-hammer"></ion-icon>
        </div>
        <div class="in">Maintenance</div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <div class="icon-box bg-primary">
          <ion-icon name="md-megaphone"></ion-icon>
        </div>
        <div class="in">Under Construction</div>
      </a>
    </li>
  </ul>


<router-outlet></router-outlet>
<!-- * App Capsule -->

<router-outlet></router-outlet>
